<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="stylesheets/main.css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<h1>LELELELE</h1>

				<ul>
					<li v-for="message in messages">
						{{ message.message }}
					</li>
				</ul>

				<div class="blok">
					<input id="text_box">
					<input id="submit" type="submit" value="send">
				</div>
			</div>
		</div>
	
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/vue@2.2.6"></script>
		<script src="javascript/bundle.js"></script>
		<script>
			var socket = io();
			socket.on("message", function (message) { 
				vue.messages.push({ message: message });	
			});

			var vue = new Vue ({
				el: '#app',
				data: {
					messages: [],
				}
			})

			$("#submit").on("click", function () {
				var val = $("#text_box").val();
				if (val) {
					vue.messages.push({ message: val })
					socket.emit("chat message", val);
				}
				$("#text_box").val("");
			});


		</script>

	</body>
</html>
